<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YZXPieGraphView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD10C6511E02809000684E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD10C66A1E02809100684E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD10C6751E02809100684E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
